@charset "utf-8";

@font-face {
  font-family: "Fira Code Web";
  src        : url("#{$font-path}/FiraCode-Regular.woff2") format("woff2"),
    url("#{$font-path}/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: "Fira Code Web";
  src        : url("#{$font-path}/FiraCode-Bold.woff2") format("woff2"),
    url("#{$font-path}/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style : normal;
}

$base-font-family: "Fira Code Web",
Consolas,
Helvetica,
"微软雅黑",
"宋体" !default;
$base-font-size  : .875rem !default; //14px
$base-font-weight: 400 !default;
$small-font-size : $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit: 2rem !default; //30px

$text-color      : #454545 !default;
$background-color: #fff !default;

$grey-color      : #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark : darken($grey-color, 25%) !default;

$table-text-align: left !default;

$header-height          : $base-line-height * $base-font-size * 2.85 !default;
$header-text-color      : $black !default;
$header-background-color: $white !default;

$footer-height          : $header-height * 1.05 !default;
$footer-text-color      : lighten($black, 30%) !default;
$footer-background-color: darken($white, 5%) !default;

$banner-height    : 20rem !default; //320px
$banner-text-color: $white !default;

$on-palm  : 600px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "yat/base",
"yat/layout",
"misc/article-menu",
"misc/common-list"
;