<style>
  .cts a {
    margin: 0 .75rem ;
  }
</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
      <div>
        <span>
          {{ 'now' | date: "%Y" }}&nbsp;<span class="copyleft"><i class="far fa-copyright"></i></span>&nbsp;{{ site.author.name }}&nbsp;{{ site.author.employer }}&nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
        <i class="far fa-envelope"></i>&nbsp;{{ site.author.email }}
      </div>
      <div class="cts">
        {%- assign pb = site.footer_info.poweredby -%}
        Powered by <a title="{{ pb[1] }}" href="{{ pb[2] }}">{{ pb[0] }}</a>&nbsp;&nbsp;
        <br/>
        Courtesy:&nbsp;
        {%- assign cts = site.footer_info.courtesy -%}
        {%- for c in cts -%}
          <a title="{{ c[1] }}" href="{{ c[2] }}">{{ c[0] }}</a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>